
// flex

.flex {
display : flex;
flex-direction : column;
min-height : 100vh; }

.flex__page {
flex : 1; }




// layout

.layout {

@include bp(bp4) {
display : flex; 
flex-direction : column-reverse; }

.layout__page {
padding-top : $vertical-spacing; }

}



.no-flexbox {
	
.layout {

@include bp(bp4) {
display : table; 
min-width : 100vw;
margin-bottom : $vertical-spacing; }

[role="navigation"] {

@include bp(bp4) {
display : table-header-group; }
}
}
}




// container

.container {
margin : 0 ($gutter / 2); 
padding : 0;
@include clearfix();

@include bp(bp2) {
margin : 0 $gutter; }

@include bp(bp3) {
margin : 0 $gutter * 2; }

@include bp(bp4) {
margin : 0 $gutter * 3; }

@include bp(bp6) {
margin : 0 auto;
width : 95%;
max-width : $max-width; }
}



.container--dark {
margin : $vertical-spacing 0;
background-color : #0f2429;
border-top : 6px solid $border-color; 

.container {
padding : $vertical-spacing 0; }
}

.container__heading {
background-color : #48545f; 

h1 {
margin : 0 ($gutter / 2); 
padding : 0;
text-align : center;

@include bp(bp2) {
margin : 0 $gutter; }

@include bp(bp3) {
margin : 0 $gutter * 2; }

@include bp(bp4) {
margin : 0 $gutter * 3;
@include font-size($font-size-plus-four);
-webkit-text-stroke-width : 0; }

@include bp(bp6) {
margin : 0 auto;
width : 95%;
max-width : $max-width; }

}
}




[role="main"],
.main {
width : 100%; 

@include bp(bp5) {
float : left;
width : 76.9826%;
margin-right : -100%; }
}





// content

.content {

@include bp(bp4) {
margin-left : 6.513%; }

@include bp(bp5) {
margin-left : 8.43218618%; }
}





[role="complementary"],
.complementary {
width : 100%; 

@include bp(bp4) {
margin-left : 6.513%; }

@include bp(bp5) {
float : left;
width : 20%;
margin-right : -100%;
margin-left : 79.9826%; }
}
