[role="banner"] {
background-color : #303840;
border-bottom : 5px solid #8c4549;
font-family : $alt-font-family;

.inner {
display : flex;
align-items : center;
margin : 0; 
padding : ($vertical-spacing / 2) 0;

@include bp(bp2) {
margin : 0 $gutter; }

@include bp(bp3) {
margin : 0 $gutter * 2; }

@include bp(bp4) {
margin : 0 $gutter * 3; }

@include bp(bp6) {
margin : 0 auto;
width : 95%;
max-width : $max-width; }
}

a {
padding : 6px 12px;
font-family : $bold-font-family;
@include font-size($font-size-minus-two);
color : #fff;
letter-spacing : .1rem;
text-transform : uppercase;
filter : blur(1px);
transition : all $transition-duration $transition-timing-function; 

&:hover {
color : #fff;
filter : blur(0px); }
}
}


.banner__logo {
display : block;
margin-right : ($gutter / 2);
height : 55px;
width : 45px; }

.banner__nav {
list-style-type : none;
margin : 0;
padding : 0; }