.media {
margin-bottom : ($vertical-spacing); 
padding : $gutter;
border : $border-width $border-style $border-color;

@include bp(bp3) {
display : flex;
align-items : flex-start; }

.media__figure {
margin-bottom : $vertical-spacing / 4;

@include bp(bp3) {
margin-right : $gutter;
margin-bottom : 0; }
}
}

.media__header {
margin-bottom : $vertical-spacing / 8; 
@include font-size($font-size-plus-one);

@include bp(bp4) {
@include font-size($font-size-plus-two); }
}

.media__content {

@include bp(bp3) {
flex : 1; }

blockquote {
margin : 0; }
}



// reverse

.media--reversed {
@extend .media;

@include bp(bp3) {
flex-direction : row-reverse; }

.media__figure {
margin-bottom : $vertical-spacing / 4;

@include bp(bp3) {
margin-right : 0;
margin-left : $gutter;
margin-bottom : 0; }
}
}