.hb-about {
position : relative;
background-color : #332115;
background-image : 
radial-gradient(circle at bottom left, transparent, rgba(0,0,0,.8)),
// url(../assets/img/site/about-wood.jpg)
// linear-gradient(90deg, #472615 50%, transparent 50%);
// background-size : auto, 6px;
// background-position : 0 100%, 50% 50%;
// background-repeat : no-repeat, repeat;

repeating-linear-gradient(
90deg,
#24170b,
#24170b 6px,
#291A0b 8px,
#3e2010 10px,
#281A11 11px,
#281A11 12px,
#25170a 18px,
#180f06 24px,
#180f05 24px,
#180f05 28px);

min-height : 100vh;

article {
position : absolute;
top : 140px;
left : 50%;
z-index : 10;
transform : skew(-10deg, -5deg);
width : 280px;
height : 280px;
margin-left : -150px;
padding : $gutter; 
background-color : #fed46e;
background-image : linear-gradient(to top right, #fed46e 60%, #bf9f53);
box-shadow : 0 2px 5px rgba(0,0,0,.5);
box-sizing : border-box;
text-align : center;

h1 {
@include font-size(64);
font-family : Journal, "Helvetica Neue", Helvetica, Arial, sans-serif; 
line-height : 1.2;
text-shadow : -2px -2px 0 rgba(255,255,255,.5);
-webkit-text-fill-color : #111;
-webkit-text-stroke-width : 0; }

ul {
list-style-type : none;
font-family : Journal, "Helvetica Neue", Helvetica, Arial, sans-serif; 
line-height : 1.2;
text-shadow : -2px -2px 0 rgba(255,255,255,.5);
color : #111; }

li {
@include font-size(32); }
}

aside {
position : absolute;
top : 200px;
left : 70%;
z-index : 100;
transform : skew(10deg, 5deg);
width : 280px;
height : 280px;
margin-left : -150px;
padding : $gutter; 
background-color : #fed46e;
background-image : linear-gradient(to top right, #fed46e 60%, #bf9f53);
box-shadow : 0 2px 5px rgba(0,0,0,.5);
box-sizing : border-box;
text-align : center; 

p {
font-family : Journal, "Helvetica Neue", Helvetica, Arial, sans-serif; 
@include font-size(32);
line-height : 1.2;
text-shadow : -2px -2px 0 rgba(255,255,255,.5);
color : #111; }

}



}