.hb-detectives {
width : 90%;
margin : 0 auto;
min-height : 100vh;

@include bp(bp4) {
position : relative; }


// h-card

.h-card {
width : 300px; 
height : 195px;
box-shadow : 0 2px 1px rgba(0,0,0,.8), 0 2px 10px rgba(0,0,0,.5); 

@include bp(bp4) {
z-index : 1;
position : absolute;
transition-property : all;
transition-duration : .4s;
transition-timing-function : ease-in-out; }
}

.h-card:nth-of-type(1) {
background : url(../assets/img/site/example-c01.jpg) no-repeat 50% 50%;
background-size : 300px 195px;

@include bp(bp4) {
top : 100px;
left : 0; }
}

.h-card:nth-of-type(2) {
background : url(../assets/img/site/example-c02.jpg) no-repeat 50% 50%; 
background-size : 300px 195px;

@include bp(bp4) {
top : 80px;
left : 320px; }
}

.h-card:nth-of-type(3) {
background : url(../assets/img/site/example-c03.jpg) no-repeat 50% 50%; 
background-size : 300px 195px;

@include bp(bp4) {
top : 100px;
left : 640px; }
}

.h-card:nth-of-type(4) {
background : url(../assets/img/site/example-c04.jpg) no-repeat 50% 50%; 
background-size : 300px 195px;

@include bp(bp4) {
top : 320px;
left : 40px; }
}

.h-card:nth-of-type(5) {
background : url(../assets/img/site/example-c05.jpg) no-repeat 50% 50%;
background-size : 300px 195px;

@include bp(bp4) {
z-index : 2;
top : 270px;
left : 570px; }
}

.h-card:nth-of-type(6) {
background : url(../assets/img/site/example-c06.jpg) no-repeat 50% 50%;
background-size : 300px 195px;

@include bp(bp4) {
top : 320px;
left : 600px; }
}

.h-card:nth-of-type(7) {
background : url(../assets/img/site/example-c07.jpg) no-repeat 50% 50%; 
background-size : 300px 195px;

@include bp(bp4) {
top : 540px;
left : 0; }
}

.h-card:nth-of-type(8) {
background : url(../assets/img/site/example-c08.jpg) no-repeat 50% 50%;
background-size : 300px 195px;

@include bp(bp4) {
top : 560px;
left : 320px; }
}

.h-card:nth-of-type(9) {
background : url(../assets/img/site/example-c09.jpg) no-repeat 50% 50%; 
background-size : 300px 195px;

@include bp(bp4) {
top : 540px;
left : 640px; }
}

.h-card:nth-child(odd) {
transform : rotate(-2deg);
transform-origin : 0 100%; }

.h-card:nth-child(3n) {
transform : rotate(2deg) translateY(-30px); }

.h-card:nth-child(4n) {
transform : rotate(2deg);
transform-origin : 0 100%; }

.h-card:nth-child(6n) {
transform : rotate(-5deg);
transform-origin : 0 0; } 

.h-card:nth-child(5n) {

@include bp(bp4) {
transform : rotate(90deg); 
transform-origin : 0 0; }  
}

.h-card:hover {

@include bp(bp4) {
box-shadow : 0 2px 1px rgba(0,0,0,.8), 0 2px 10px rgba(0,0,0,.5);
transform : rotate(2deg);
transform-origin : rotate(0deg) scale(1.05);
z-index : 3;
cursor : pointer; }
}

.h-card:nth-child(5n):hover {

@include bp(bp4) {
transform : rotate(92deg) scale(1.05);
transform-origin : 0 0; } 
}

.h-card * {
display : none; }

}