.hb-target {

@include bp(bp4) {
position : relative;
max-width : 700px; 
padding-bottom : ($vertical-spacing * 2); 
display : flex;
flex-wrap : wrap;

 }



.item {
display : flex;
margin-bottom : $vertical-spacing;
padding : ($gutter / 2);
border : $img-border-width solid $border-color; 
border-radius : $border-radius;

@include bp(bp4) {
display : block;
// float : left; 
// width : 130px; 
padding : 0;
margin : 0 20px 20px 0;
border-width : 0;
flex : 1 0 130px; }
}


.item:nth-of-type(4) {
margin-right : 0;
}

.item:nth-of-type(8) {
margin-right : 0;
}


.item__img {
margin-right : $gutter;
flex : 0 0 133px;

@include bp(bp4) {
margin-right : 0; }

img {
border : $img-border-width solid $border-color;
box-sizing : border-box; 
transition : border $transition-duration $transition-timing-function;

@include bp(bp4) {
border-color : $img-border-color; }


&:hover {

@include bp(bp4) {
border-color : #eceeef;
box-shadow : $box-shadow; }
}
}

}



a[href="#hb-target"] .item__img {
width : auto;
border-width : 0; }



.item .item__description {
// flex : 1;

@include bp(bp4) {
opacity : 0;
position : absolute;
top : 0;
left : 0;
width : 10px;
height : 10px;
overflow : hidden; }
}


.item:target .item__description {

@include bp(bp4) {
opacity : 1;
width : 100%;
height : 480px;
padding : ($gutter * 2) ($gutter * 2) ($gutter * 2) 280px; 
background-color : $panel-bg;
background-repeat : no-repeat; 
background-position : ($gutter * 2) ($gutter * 2); 
border : $img-border-width solid #eceeef;
box-sizing : border-box;
box-shadow : $box-shadow;
overflow : visible; }
}

#hb-target-01:target .item__description {

@include bp(bp4) {
background-image : url(../assets/img/site/example-dashiellhammett-01.jpg);
background-size : 200px 300px; } 
}

#hb-target-02:target .item__description {

@include bp(bp4) {
background-image : url(../assets/img/site/example-dashiellhammett-02.jpg); 
background-size : 200px 300px; }
}

#hb-target-03:target .item__description {

@include bp(bp4) {
background-image : url(../assets/img/site/example-dashiellhammett-03.jpg); 
background-size : 200px 300px; }
}

#hb-target-04:target .item__description {

@include bp(bp4) {
background-image : url(../assets/img/site/example-dashiellhammett-04.jpg); 
background-size : 200px 300px; }
}

#hb-target-05:target .item__description {

@include bp(bp4) {
background-image : url(../assets/img/site/example-dashiellhammett-05.jpg); 
background-size : 200px 300px; }
}

#hb-target-06:target .item__description {

@include bp(bp4) {
background-image : url(../assets/img/site/example-dashiellhammett-06.jpg); 
background-size : 200px 300px; }
}

#hb-target-07:target .item__description {

@include bp(bp4) {
background-image : url(../assets/img/site/example-dashiellhammett-07.jpg); 
background-size : 200px 300px; }
}

#hb-target-08:target .item__description {

@include bp(bp4) {
background-image : url(../assets/img/site/example-dashiellhammett-08.jpg); 
background-size : 200px 300px; }
}

.item .item__description a[href="#hb-target"] {
display : none;

@include bp(bp4) {
z-index : 100;
position : absolute;
top : -($gutter);
right : -($gutter);
display : block;
width : 26px;
height : 26px; }
}

.item__header {
@include font-size($font-size-plus-one); }

.list--plain li {
@include font-size($font-size-minus-one); }

}