.hb-transitions {

@include bp(bp4) {
position : relative;
width : 710px; 
height : 500px; 
margin-bottom : $vertical-spacing;
background : transparent url(../assets/img/site/hgroup.jpg) no-repeat 50% 0;
background-size : cover;

font-size : .87em; }


.item {
display : flex;
flex-direction : row-reverse;
margin-bottom : $vertical-spacing;
padding : ($gutter / 2);
border : $img-border-width solid $border-color; 
border-radius : $border-radius;

@include bp(bp4) {
display : block;
margin-bottom : 0; 
padding : 0;
border-width : 0; }

}



.item__img {
margin-left : $gutter;
width : 133px;

@include bp(bp4) {
z-index : 2;
position : absolute;
top : 330px; 
margin-left : 0;
width : 110px;
height : 160px;  
cursor : pointer; }

img {
border : $img-border-width solid $border-color;
box-sizing : border-box;
transition : all $transition-duration $transition-timing-function;

@include bp(bp4) {
border-color : $img-border-color; }

&:hover {

@include bp(bp4) {
border-color : #eceeef;
box-shadow : $box-shadow; }
}
}
}


.item__header {
@include font-size($font-size-plus-one); }

.list--plain li {
@include font-size($font-size-minus-one); }



#hb-transitions-01 .item__img {

@include bp(bp4) {
left : 0; }
}

#hb-transitions-02 .item__img {

@include bp(bp4) {
left : 120px; }
}

#hb-transitions-03 .item__img {

@include bp(bp4) {
left : 240px; }
}

#hb-transitions-04 .item__img {

@include bp(bp4) {
left : 360px; }
}

#hb-transitions-05 .item__img {

@include bp(bp4) {
left : 480px; }
}

#hb-transitions-06 .item__img {

@include bp(bp4) {
left : 600px; }
}

#hb-transitions-07 .item__img {

@include bp(bp4) {
left : 720px; }
}

#hb-transitions-08 .item__img {

@include bp(bp4) {
left : 840px; }
}



.item__description {
flex : 1;

@include bp(bp4) {
z-index : 1;
position : absolute; 
top : 335px;
left : 5px;
width : 100px;
height : 150px; 
overflow : hidden; 
opacity : 0;
transition-property : width, height, opacity, top;
transition-duration : .5s, .5s, .75s, .5s; }
}

#hb-transitions-01 .item__description {

@include bp(bp4) {
left : 0; }
}

#hb-transitions-02 .item__description {

@include bp(bp4) {
left : 120px;  }
}

#hb-transitions-03 .item__description {

@include bp(bp4) {
left : 240px;  }
}

#hb-transitions-04 .item__description {

@include bp(bp4) {
left : 360px;  }
}

#hb-transitions-05 .item__description {

@include bp(bp4) {
left : 480px;  }
}

#hb-transitions-06 .item__description {

@include bp(bp4) {
left : 600px;  }
}

#hb-transitions-07 .item__description {

@include bp(bp4) {
left : 720px;  }
}

#hb-transitions-08 .item__description {

@include bp(bp4) {
left : 840px;  }
}



#hb-transitions-01:target .item__description {

@include bp(bp4) {
background-image : url(../assets/img/site/example-raymondchandler-01.jpg); }
}

#hb-transitions-02:target .item__description {

@include bp(bp4) {
left : 120px; 
background-image : url(../assets/img/site/example-raymondchandler-02.jpg); }
}

#hb-transitions-03:target .item__description {
@include bp(bp4) {
background-image : url(../assets/img/site/example-raymondchandler-03.jpg); }
}

#hb-transitions-04:target .item__description {

@include bp(bp4) {
background-image : url(../assets/img/site/example-raymondchandler-04.jpg); }
}

#hb-transitions-05:target .item__description {

@include bp(bp4) {
background-image : url(../assets/img/site/example-raymondchandler-05.jpg); }
}

#hb-transitions-06:target .item__description {

@include bp(bp4) {
background-image : url(../assets/img/site/example-raymondchandler-06.jpg); }
}

#hb-transitions-07:target .item__description {

@include bp(bp4) {
background-image : url(../assets/img/site/example-raymondchandler-07.jpg); }
}

#hb-transitions-08:target .item__description {

@include bp(bp4) {
background-image : url(../assets/img/site/example-raymondchandler-08.jpg); }
}






.item:target {

.item__description {

@include bp(bp4) {
top : 0;
left : 0!important;
width : 100%;
height : 320px; 
padding : $gutter $gutter 0 190px;
opacity : 1;
background-color : $panel-bg;
background-origin : padding-box;
background-position : $gutter $gutter; 
background-repeat : no-repeat;
background-size : auto 220px;
border : $img-border-width solid #eceeef;
box-sizing : border-box;
box-shadow : 0 1px 1px rgba(0,0,0,.8), 0 6px 9px rgba(0,0,0,.4); 
}

}
}
}






