.hb-opacity {

.item {
position : relative;
float : left; 
width : 220px; 
height : 320px;
margin : 0 10px 10px 0; }

img {
position : absolute; 
border : $img-border-width solid $border-color;
border-radius : $border-radius; }

.item_description {
opacity : 0;
position : absolute; 
width : 200px;
left : -10px;
padding : $gutter;
background-color : rgb(57,53,70); 
border : $img-border-width solid $border-color; 
text-align : center; }

.item:hover .item_description,
.item:active .item_description,
.item:focus .item_description {
opacity : 1;
z-index : 3;
top : -80px; }


.item_description {
background-color : rgba($panel-bg,.9);
border-radius : $border-radius;
box-shadow : 3px 3px 0 $shadow-color;
transition-property : top, opacity;
transition-duration : $transition-duration;
transition-timing-function : $transition-timing-function; }

}