button {
&:focus,
&:active {
outline : none;
box-shadow : none;
border : none; }
}


// btn

.btn {
-webkit-appearance : none;
-webkit-font-smoothing : antialiased;
-moz-osx-font-smoothing : grayscale;
display : inline-block;
padding : 1.25rem 1.25rem 1rem;
background-color : $button-bg;
// background-image : linear-gradient(#EFCDCE, darken(#EFCDCE,20%)); 
border-width : 0;
border-bottom : $button-border-width $button-border-style $button-border-color;
border-radius : $button-border-radius;
font-family : $button-font-family;
@include font-size($button-font-size);
font-weight : $button-font-weight;
letter-spacing : $button-letter-spacing;
text-decoration : none;
text-transform : $button-font-transform;
color : $button-font-color;
cursor : pointer;
transition : all $transition-duration $transition-timing-function;

&:visited {
background-color : $button-bg;
border : $button-border-width $button-border-style $button-border-color;
color : $button-font-color;
text-decoration : none; }

&:hover,
&:focus,
&:active {
background-color : $button-bg-hover;
border-color : $button-border-color-hover;
color : $button-font-color-hover;
text-decoration : none; }
}



// primary

.btn--primary {
background-color : $button-primary-bg;
border-color : $button-primary-border-color;
color : $button-primary-font-color;

&:visited {
background-color : $button-primary-bg;
border-color : $button-primary-border-color;
color : $button-primary-font-color;
text-decoration : none; }

&:hover,
&:focus,
&:active {
background-color : $button-primary-bg-hover;
border-color : $button-primary-border-color-hover;
color : $button-primary-font-color-hover; }
}