hr {
clear : both;
display : block;
margin : $vertical-spacing 0;
padding : 0;
height : 1px;
border : 0;
border-bottom : $border; 

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
border-width : .5px; }
}




// hr__centered

.hr__centered {
margin : ($vertical-spacing * 1.5) auto;
max-width : 80px;
border-width : $border-width;
column-span : all; }





// hr__short

.hr__short {
margin : ($vertical-spacing * 1.5) 0;
max-width : 80px;
border-width : $border-width; }