img {
max-width : 100%;
border-width : 0;
vertical-align : middle;
-ms-interpolation-mode : bicubic; }

img[width],
img[height] {
max-width : none; }




figure {
display : block;
margin : $vertical-spacing 0 ($vertical-spacing * 2);

img {
margin-bottom : ($vertical-spacing / 2); }
}

figcaption {
font-family : $figcaption-font-family;
font-size : $figcaption-font-size;
font-style : $figcaption-font-style;
font-weight : $figcaption-font-weight;
text-transform : $figcaption-text-transform; }

.figcaption__columns {
column-count : 2;
column-gap : ($gutter * 2);
margin : 0 ($gutter * 2); }




// figure--classic

.figure--classic {

figcaption { 

@include bp(bp4) {
width : 50%; }
}

}




// figure--horizontal

.figure--horizontal {

@include bp(bp4) {
display : flex;
align-items : flex-end; }

.figure__img {

@include bp(bp4) {
flex : 2 1 360px;
margin-right : $gutter; }
}

figcaption {

@include bp(bp4) {
flex : 1;
padding-bottom : ($vertical-spacing / 2); }
}

}




// figure--horizontal

.figure--horizontal-reverse {

@include bp(bp4) {
display : flex;
flex-direction : row-reverse; }

.figure__img {

@include bp(bp4) {
flex : 2 1 360px;
margin-left : $gutter; }
}

figcaption {

@include bp(bp4) {
flex : 1; }
}

}




// figure--reverse

.figure--reverse {
display : flex;
flex-direction : column-reverse; 

figcaption { 
margin-bottom : ($vertical-spacing / 2);

@include bp(bp3) {
max-width : 50%; 
}
}

}



// figure--rotate

.figure--rotate {
transform : rotate(-3deg);

img {
width : 95%;
border : 10px solid $border-color;
box-shadow : $box-shadow; }

}
