@-webkit-viewport { 
width : device-width; }

@-moz-viewport { 
width : device-width; }

@-ms-viewport { 
width : device-width; }

@-o-viewport { 
width : device-width; }

@viewport { 
width : device-width; }


html {
background : $body-background;
font-size : 62.5%;
-webkit-font-smoothing : antialiased;
-moz-osx-font-smoothing : grayscale;
-webkit-overflow-scrolling : touch;
-webkit-tap-highlight-color : $base-bg;
-webkit-text-size-adjust : 100% }

body {
margin : 0;
padding : 0;
min-height : 100vh;
background-color : transparent;
font-family : $font-family;
@include font-size($font-size);
line-height : $font-lineheight;
color : $font-color; 

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
font-family : $alt-font-family; }

@include bp(bp4) {
@include font-size($font-size-plus-one); }

}




.hb-bg {
min-height : 100vh;
background-color : #332115;
background-image : 
radial-gradient(circle at bottom left, transparent, rgba(0,0,0,.8)),
repeating-linear-gradient(
90deg,
#24170b,
#24170b 6px,
#291A0b 8px,
#3e2010 10px,
#281A11 11px,
#281A11 12px,
#25170a 18px,
#180f06 24px,
#180f05 24px,
#180f05 28px); }






.hb-bg-light {
min-height : 100vh;
background-color : #332115;
/*
background-image : 
radial-gradient(circle at bottom left, transparent, #f00),
repeating-linear-gradient(
90deg,
#24170b,
#24170b 6px,
#291A0b 8px,
#3e2010 10px,
#281A11 11px,
#281A11 12px,
#25170a 18px,
#180f06 24px,
#180f05 24px,
#180f05 28px);
*/
// background-blend-mode : color, screen;
// background-color : purple;

/*
background-image : 
// radial-gradient(circle at bottom left, transparent, rgba($white,.5)),
radial-gradient(circle at bottom left, transparent, #f00),
repeating-linear-gradient(
90deg,
#24170b,
#24170b 6px,
#291A0b 8px,
#3e2010 10px,
#281A11 11px,
#281A11 12px,
#25170a 18px,
#180f06 24px,
#180f05 24px,
#180f05 28px); 
background-blend-mode : color, screen; 

*/


}