p { 
margin-bottom : 1.5rem; 
line-height : 1.4; 
@include font-size($font-size);

@include bp(bp4) {
line-height : 1.5; }

@include bp(bp5) { 
line-height : 1.6; }
}

.lead {
font-family : $alt-font-family;
@include font-size($font-size-plus-one);

@include bp(bp4) {
@include font-size($font-size-plus-two);
line-height : 1.5; }
}

.secondary {
@include font-size($font-size-minus-one);

@include bp(bp4) {
@include font-size($font-size); }
}

.tertiary {
@include font-size($font-size-minus-three);

@include bp(bp4) {
@include font-size($font-size-minus-two); }
}

.milli {
@include font-size($font-size-minus-three);

@include bp(bp4) {
@include font-size($font-size-minus-two); }
}