@font-face {
font-family : 'Aller Bold';
src :  url('../assets/fonts/aller_std_bd.woff2') format('woff2'),
url('../assets/fonts/aller_std_bd.woff') format('woff'); }

@font-face {
font-family : 'Aller Regular';
src :  url('../assets/fonts/aller_std_reg.woff2') format('woff2'),
url('../assets/fonts/aller_std_reg.woff') format('woff'); }

@font-face {
font-family : 'Aller Light';
src :  url('../assets/fonts/aller_std_lt.woff2') format('woff2'),
url('../assets/fonts/aller_std_lt.woff') format('woff'); }

@font-face {
font-family : 'Aller Light Italic';
src :  url('../assets/fonts/aller_std_ltit.woff2') format('woff2'),
url('../assets/fonts/aller_std_ltit.woff') format('woff'); }

@font-face {
font-family : 'Chunkfive';
src :  url('../assets/fonts/chunkfive.woff2') format('woff2'),
url('../assets/fonts/chunkfive.woff') format('woff'); }

@font-face {
font-family : 'Eastmarket';
src :  url('../assets/fonts/eastmarket.woff2') format('woff2'),
url('../assets/fonts/eastmarket.woff') format('woff'); }

@font-face {
font-family : 'Journal';
src :  url('../assets/fonts/journal.woff2') format('woff2'),
url('../assets/fonts/journal.woff') format('woff'); }