::-moz-selection {
background-color : $base-bg;
text-shadow : none; }

::selection {
background-color : $base-bg;
text-shadow : none; }



// Misc

address {
margin-bottom : $vertical-spacing;
font-family : $font-family;
@include font-size($font-size);
font-style : normal; 
line-height : $font-lineheight; }

abbr[title] {
border-bottom : 1px dotted $border-color;
cursor : help; }

.amp {
font-family : $amp-font-family; }

dfn {
font-style : italic; }

ins {
background-color : $base-bg;
color : $font-color;
text-decoration : none; }

mark {
background-color : $base-bg;
color : $font-color;
font-style : italic;
font-weight : bold; }

small {
@include font-size($font-size-minus-one); }

time {
@include font-size($font-size-minus-two);
font-family : $font-family;
text-transform : uppercase; }


// b, strong, i, em

b, strong {
font-family : $bold-font-family;
font-weight : normal; }


i, em {
font-family : $alt-font-family;
font-style : normal; }


// code 

code {
vertical-align : middle;
padding : .25em .5em;
background-color : $base-bg; }

pre {
white-space : pre;
white-space : pre-wrap;
word-wrap : break-word; }



// sub/sup 

sub,
sup {
position : relative;
@include font-size($font-size-minus-two);
line-height : 0;
vertical-align : baselineheight; }

sup {
top : -.5em; }

sub {
bottom : -.25em; }




// columns

.columns {

@include bp(bp4) {
margin-bottom : ($vertical-spacing * 2);
// column-count : 2;
column-rule : 2px solid $border-color;
column-width : 32rem;
column-gap : 4rem; }

@include bp(bp5) {
// column-count : 3; 
column-gap : 6rem;
}
}

.columns__span {

@include bp(bp4) {
margin : $vertical-spacing 0 ($vertical-spacing / 2);
column-span : all; }
}




// h-entry

.h-entry {

header {
margin-bottom : $vertical-spacing;
padding-bottom : $vertical-spacing;
border-bottom : 5px $border-style $border-color; 

.list--inline {
margin-bottom : 0; }

.h-card {
margin-bottom : 0; }

[rel="bookmark"] {
font-family : $font-family; }

}
}




// h-event

.h-event {

header {
margin-bottom : $vertical-spacing;
padding-bottom : $vertical-spacing;
border-bottom : 5px $border-style $border-color; 

.list--inline {
margin-bottom : 0; }

.h-card {
margin-bottom : 0; }

[rel="bookmark"] {
font-family : $font-family; }
}

.p-location {
margin-top : $vertical-spacing;
padding-top : $vertical-spacing;
@include font-size($font-size-minus-one); }


}




// h-review

.h-review {

p {
margin-bottom : 0; }
}