p { 
margin-bottom : $vertical-spacing; 
@include font-size($font-size);
line-height : 1.4; 

@include bp(bp4) {
@include font-size($font-size-plus-one);
line-height : 1.6; }

@include bp(bp5) { 
line-height : 1.7; }
}

.lead {
margin-bottom : ($vertical-spacing * 1.5);
@include font-size($font-size-plus-one);

@include bp(bp4) {
@include font-size($font-size-plus-two);
line-height : 1.5; }
}

.secondary {
@include font-size($font-size-minus-one);

@include bp(bp4) {
@include font-size($font-size); }
}

.tertiary {
@include font-size($font-size-minus-three);

@include bp(bp4) {
@include font-size($font-size-minus-two); }
}

.milli {
@include font-size($font-size-minus-three);

@include bp(bp4) {
@include font-size($font-size-minus-two); }
}